<div class="candidates-container">

    @for(bulletin of bulletins; track $index){
      <div class="candidate-card">
      <img src="{{bulletin?.candidat?.fileUri}}" alt="Candidat 1" class="candidate-img">
      <div class="candidate-info">
        <div class="candidate-name">{{bulletin?.candidat?.lastName}} {{bulletin?.candidat?.firstName}}</div>
        <!-- <div class="candidate-desc">Étudiante engagée pour l'environnement et l'éducation.</div> -->
        <button class="vote-button" (click)="voter(bulletin.id,bulletin.election.id)">Voter</button>
      </div>
    </div>
    }
 
  </div>


