<div class="container-table">
    @if (hasSearchForm) {
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title> Recherche</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nom</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Marque</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Profil</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <button class="button-blue w-100" type="submit"><i class="fa fa-search me-2"></i>
                            Rechercher</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    }


    @if (hasFilterInput) {
        <mat-form-field class="mt-4">
            <input matInput (keyup)="applyFilter($event)" placeholder="Recherche rapide" />
        </mat-form-field>
    }

    
    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <table mat-table [dataSource]="dataSource" #table matSort>

                @for(column of columns; track  column) {
                    <ng-container [matColumnDef]="column.columnDef">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>

                    <td mat-cell *matCellDef="let row" class="m-card-title" test data-label="Riskplan">
                        @if (column.isDate) {
                            <span>
                                {{ row[column.columnDef] | date:'yyyy-MM-dd'}}
                            </span>
                        }

                        @if (!column.isDate && !column.isStatut && !column.isRoles) {
                            <span>
                                {{ row[column.columnDef] ?? '-----' }}
                            </span>
                        }
                      
                        @if (column.isStatut) {
                            <span>
                                
                                @if (row[column.columnDef]) {
                                    <i class="fa fa-check-circle" style="color:green"></i>
                                }

                                @if (!row[column.columnDef]) {
                                    <i class="fa fa-times-circle" style="color:red"></i>
                                }
                           
                            </span>
                        }  

                    </td>


                </ng-container>

                }
                
                @if (hasActions) {
                   <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="actions-btns center">
                            @for(a of actions; track a) {
                               <a href="javaScript:(0);"
                                (click)="onTableAction($event, a?.action, element)">
                                @switch (a?.action) {
                                   @case (actionButton.view) {
                                       <ng-container>
                                             <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                  class="fa fa-eye" matTooltip="Voir les détails" type="button"></i>
                                       </ng-container>

                                   }

                                      @case (actionButton.view_file) {
                                        <ng-container>
                                                <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                      class="fas fa-download" matTooltip="Voir le fichier" type="button"></i>
                                        </ng-container>
    
                                      }

                                      @case (actionButton.put_final_doc) {
                                         <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        class="fas fa-upload" matTooltip="Charger le PV final" type="button"></i>
                                         </ng-container>
     
                                          }

                                      @case (actionButton.unblock) {
                                         <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        matTooltip="Autoriser une nouvelle modification" class="fa fa-lock-open"
                                                        type="button"></i>
                                         </ng-container>
     
                                          }

                                        @case (actionButton.block) {
                                            <ng-container>
                                                        <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                            matTooltip="Bloquer la modification" class="fa fa-lock text-danger"
                                                            type="button"></i>
                                            </ng-container>
        
                                            }

                                    @case (actionButton.validate) {
                                        <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        matTooltip="Valider la demande KYC" class="fa-solid fa-circle-check text-success"
                                                        type="button"></i>>
                                        </ng-container>
                                    }

                                    @case (actionButton.cancel) {
                                        <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        matTooltip="Annuler la demande KYC" class="fa fa-times text-danger"
                                                        type="button"></i>
                                        </ng-container>
                                    }

                                    @case (actionButton.to_modify) {
                                        <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        matTooltip="Envoyer une demande de modification" class="fa fa-check"
                                                        type="button"></i>
                                        </ng-container>
                                    }
                                    @case (actionButton.to_edit) {
                                        <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        matTooltip="Envoyer une demande de modification" class="fa fa-pen"
                                                        type="button"></i>
                                        </ng-container>
                                    }
                                    @case (actionButton.delete) {
                                        <ng-container>
                                                    <i matTooltipPosition="above" matTooltipClass="custom-tooltip"
                                                        matTooltip="Supprimer" class="fa fa-trash"
                                                        type="button"></i>
                                        </ng-container>
                                    }

                                }
                            
                            </a>

                            }
                           
                        </div>
                    </td>
                </ng-container>

                }
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td style="text-align: center" [attr.colspan]="displayedColumns.length" class="centercol mat-cell">
                        Aucun enregistrement trouvé ...
                    </td>
                </tr>
            </table>

        </div>
        <mat-paginator [hidden]="!dataSource.data.length" [pageSizeOptions]="pageSizeOptions" [length]="pageData.length"
            [pageSize]="pageData.size" (page)="OnPageChange($event)" [pageIndex]="pageData.page"
            showFirstLastButtons></mat-paginator>
    </div>
</div>